.container {
  width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 200px;
  background-color: #000;
  font-family: cursive;
  font-size: 16px;
  color: #fff;
}

.header {
  height: 80px;
  padding: 10px;
  background-color: darkslategrey;
  border: 3px solid #fff;
}

.garage_container {
  padding: 10px;
  border: 3px solid #fff;
  background-color: darkslateblue;
}

.controls_container {
  height: 100px;
  padding: 10px;
  background-color: dodgerblue;
  border: 2px solid rgb(192, 160, 160);
}

.cars_amount {
  padding: 10px;
  border: 2px solid rgb(192, 160, 160);
  font-size: 32px;
}

.cars_page {
  padding: 10px;
  border: 2px solid rgb(192, 160, 160);
  background-color: deepskyblue;
}

.garage_page-num {
  font-size: 24px;
  padding: 10px;
  border: 1px solid #fff;
}

.cars_container {
  background-color: #333;
  height: 730px;
  padding: 10px;
  border: 1px solid #fff;
}

.car_container {
  padding: 10px;
  border: 1px dotted red;
  display: flex;
  flex-direction: row;
  height: 90px;
  margin-bottom: 10px;
  background-color: rgb(21, 21, 53);
}

.car_controls {
  padding: 10px;
  border: 1px dotted rgb(45, 182, 75);
  width: 80px;
}
.car_name {
  font-size: 18px;
}

.car_track {
  padding: 10px;
  border: 1px dotted rgb(45, 182, 75);
  width: 1000px;
}
.car_img {
  width: 80px;
}